/*--------------------------------------- ID AND CLASS SELECTORS ---------------------------------------*/
.container-fluid {
    padding: 7% 15%;
}

/* Navbar */

*{
margin:0;
padding:0;
box-sizing:border-box;
}


.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 5px;
}

.nav-link {
    font-family: "Montserrat";

    font-size: 1rem;
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */

#title {
    text-align: left;
    background-color: #000;
    color: white;
    font-size: 5rem;
}
#heading{
    font-size: 100rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#title .container-fluid {
    padding: 3% 15% 7%;
}

.title-image {
    width: 60%;
    position: absolute;
    right: 20%
}

.biggest-text {
    font-family: "Montserrat";
    line-height: 1.5;
    font-weight: 900;
    font-size: 3.5rem;
}

/* Feature Section */

#features {
    background-color:black;
    position: relative;
    z-index: 1;
}
h6{
    font-size: 2rem;
    font-family: "Montserrat-Black";
    color:rgb(20, 211, 218);
}
.feature-box {
    background-color: black;
    padding: 3%;
    text-align: center;
}

.feature-head-font {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}
h3{
    font-family: "Montserrat-Bold";
    font-style: oblique;
}

.icon {
    color: #ff4c68;
    padding: 5%;
}

.icon:hover {
    color: #ef8172;
}

/* Testemonial Section */

#testimonials {
    padding:7% 15% 15%;
    background-color: #000000;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Sectiom */

#press {
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

/* CTA SECTION */

#cta {
    background-color: #ff4c68;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: 900;
    color: #fff;
    line-height: 1.5;
    font-size: 3rem;
}

/* FOOTER SECTION */

#footer {
    background-color: #000;
}

.footer-icon {
    padding: 0 1.5%;
}

/*--------------------------------------- TAG SELECTORS ---------------------------------------*/

body {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
}

h1{

font-family: "Rubik Beastly";
font-size: 5rem;
color: rgb(162, 163, 109);
 padding-left: 8px;
 
 margin-left: 10px;
 padding-top: 50px;
}


h2 {
   font-family: "Montserrat-Black";
    padding-top: 30px;
    text-align: center;
    color: rgb(170, 235, 17);
    font-size: 3rem;
    margin-left: 40px;
}

h3{
    font-family: "Montserrat-Black";
    padding-top: 20px;
    text-align: center;
    color: rgb(44, 160, 154);
    font-size: 3rem;
    margin-left: 40px;
}
h5{
    font-family: "Montserrat=Black";
    font-style: oblique;
    font-size: 26px;
    color: rgb(27, 156, 196);
    padding-inline-end: 15px;
    text-align: justify;
    margin-left: 40px;
    
}
p {
    font-style: oblique ;
    color: #8f8f8f;
}

/*--------------------------------------- Media Queries ---------------------------------------*/

@media (max-width: 991px) {
    .title-image {
        position: static;
    }
    .title-row {
        text-align: center;
    }
}


#h7{
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 3.5em;
}

::-webkit-scrollbar{
    width: 0;
}
#progressbar{
    position:fixed;
    top: 0;

    right: 0;
    width: 15px;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top,#fcb045,#fd1d1d,#833ab4);


}




		h4 {
			height: 70px;
		}

		h4 span {
			position: relative;
			top: 10px;
			display: inline-block;
			animation: bounce .5s ease infinite alternate;
			font-family: 'Titan One'cursive;
			font-size: 80px;
			color: #fff;
			text-shadow: 0 1px 0 green,
				0 2px 0 green,
				0 3px 0 green,
				0 4px 0 green,
				0 5px 0 green,
				0 6px 0 transparent,
				0 7px 0 transparent,
				0 8px 0 transparent,
				0 9px 0 transparent,
                0 10PX 0 transparent,
                0 11PX 0 transparent,  0 12PX 0 transparent,  0 13PX 0 transparent,  0 14PX 0 transparent,  0 15PX 0 transparent,
				0 16px 16px rgba(0, 0, 0, 0.6);
		}

		h4 span:nth-child(2) {
			animation-delay: .1s;
		}

		h4 span:nth-child(3) {
			animation-delay: .2s;
		}

		h4 span:nth-child(4) {
			animation-delay: .3s;
		}

		h4 span:nth-child(5) {
			animation-delay: .4s;
		}

		h4 span:nth-child(6) {
			animation-delay: .5s;
		}

		h4 span:nth-child(7) {
			animation-delay: .6s;
		}

		h4 span:nth-child(8) {
			animation-delay: .7s;
		}
        h4 span:nth-child(8) {
			animation-delay: .8s;
		}h4 span:nth-child(8) {
			animation-delay: .9s;
		}
        h4 span:nth-child(8) {
			animation-delay: 1s;
		}h4 span:nth-child(8) {
			animation-delay: 1.2s;
		}
		@keyframes bounce {
			100% {
				top: -20px;
				text-shadow: 0 1px 0 #CCC,
					0 2px 0 #CCC,
					0 3px 0 #CCC,
					0 4px 0 #CCC,
					0 5px 0 #CCC,
					0 6px 0 #CCC,
					0 7px 0 #CCC,
					0 8px 0 #CCC,
					0 9px 0 #CCC,
					0 50px 25px rgba(0, 0, 0, 0.2);
			}
		}
    
@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}


/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 260px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}


header{
	height: 160px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
	
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	
	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



		